In [1]:
import pandas as pd

In [2]:
file = 'Dataset/raw/12 Desember 2024.xlsx'

In [3]:
final = 'Dataset/cleaned/final_data.xlsx'

In [4]:
df_check = pd.read_excel(final)

In [5]:
df_check.head()

,no,model,ID pallete,ID box,Invoice,Date,Time,Status,Sheet
0,1,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371,12 December 2024,14:15,IN,baking_12_december
1,1,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371,13 December 2024,08:10,OUT,baking_12_december
2,2,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371,12 December 2024,14:15,IN,baking_12_december
3,2,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371,13 December 2024,08:10,OUT,baking_12_december
4,3,V320BJ8-Q01,MF49C0126,0HC1F5849C3048,801983371,12 December 2024,14:15,IN,baking_12_december

In [6]:
print(df_check.columns)

Index(['no', 'model', 'ID pallete', 'ID box', 'Invoice', 'Date', 'Time',
       'Status', 'Sheet'],
      dtype='object')

In [7]:
print(df_check.keys())

Index(['no', 'model', 'ID pallete', 'ID box', 'Invoice', 'Date', 'Time',
       'Status', 'Sheet'],
      dtype='object')

In [8]:
value_counts = df_check['ID box'].value_counts()

In [9]:
filtered_counts = value_counts[value_counts > 2]

In [13]:
check_pallette= df_check['ID pallete'].unique()

In [14]:
check_pallette

array(['MF49C0126', 'MF49B0231', 'MF49E0120', 'MF4970223', 'MF49G0064',
       'MF49G0198', 'MF49B0196', 'MF49A0215', 'MF49G0152', 'MF49G0183',
       'MF49B0152', 'MF49B0006', 'MF49B0257', 'MF49C0095', 'MF49C0127',
       'MF49C0190', 'MF4990163', 'MF49A0201', 'MF49C0056', 'MF49B0195',
       'MF49B0228', 'MF49B0083', 'MF49B0265', 'MF49C0215', 'MF49B0084',
       'MF49B0078', 'MF49A0153', 'MF49A0166', 'MF4990111', 'MF4980075',
       'MF49B0176', 'MF49C0143', 'MF49B0259', 'MF49C0062', 'MF4980193',
       'MF49E0073', 'MF49B0271', 'MF4990134', 'MF49D0187', 'MF49E0103',
       'MF49A0238', 'MF49D0147', 'MF4980064', 'MF49D0003', 'MF4990096',
       'MF49A0258', 'MF49C0163', 'MF49D0132', 'MF49C0171', 'MF4970121',
       'MF49D0170', 'MF49A0216', 'MF49C0128', 'MF4980156', 'MF4980209',
       'MF49C0193', 'MF49A0225', 'MF49B0126', 'MF49A0146', 'MF49D0035',
       'MF49D0029', 'MF49C0001', 'MF49E0100', 'MF49E0132'], dtype=object)

In [16]:
unique_df = pd.DataFrame(check_pallette, columns=['ID pallete'])

In [17]:
unique_df.to_excel('Dataset/unique_pallete.xlsx', index=False)

In [10]:
filtered_counts

Series([], Name: count, dtype: int64)

In [11]:
import pandas as pd

# Membaca file Excel dengan semua sheet
df1 = pd.read_excel(file, sheet_name=None)

# List untuk menyimpan semua hasil dari sheet
all_data = []

# Looping untuk setiap sheet
for sheet_name, df in df1.items():
    print(f"Memproses sheet: {sheet_name}")

    # Pastikan df dalam bentuk DataFrame
    if isinstance(df, pd.Series):
        df = pd.DataFrame(df)

    rows = []
    for index, row in df.iterrows():
        # Baris IN
        rows.append({
            'no': row['No'],
            'model': row['Model'],
            'ID pallete': row['ID Pallete'],
            'ID box': row['ID Box'],
            'Invoice': row['Invoice'],
            'Date': row['IN'],
            'Time': row['Unnamed: 6'],  # Jam IN
            'Status': 'IN',
            'Sheet': sheet_name  # Tambahkan kolom sheet_name
        })
        # Baris OUT
        rows.append({
            'no': row['No'],
            'model': row['Model'],
            'ID pallete': row['ID Pallete'],
            'ID box': row['ID Box'],
            'Invoice': row['Invoice'],
            'Date': row['OUT'],
            'Time': row['Unnamed: 8'],  # Jam OUT
            'Status': 'OUT',
            'Sheet': sheet_name  # Tambahkan kolom sheet_name
        })

    # Menyimpan hasil dari sheet ke list
    all_data.extend(rows)

# Menggabungkan semua hasil menjadi DataFrame
final_df = pd.DataFrame(all_data)
final_df = final_df.dropna()
final_df = final_df.reset_index(drop=True)

Memproses sheet: baking_12_december
Memproses sheet: baking_13
Memproses sheet: baking_16
Memproses sheet: baking_17
Memproses sheet: baking_18
Memproses sheet: baking_19
Memproses sheet: baking_20
Memproses sheet: baking_23
Memproses sheet: baking_24
Memproses sheet: baking_26
Memproses sheet: baking_27
Memproses sheet: baking_30
Memproses sheet: baking_31
Memproses sheet: baking_02_jan

In [12]:
final_df.head()

,no,model,ID pallete,ID box,Invoice,Date,Time,Status,Sheet
0,1.0,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
1,1.0,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371.0,13/13/24,08:10:00,OUT,baking_12_december
2,2.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
3,2.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371.0,13/13/24,08:10:00,OUT,baking_12_december
4,3.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3048,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december

In [13]:
final_df.shape

(2304, 9)

In [14]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2304 entries, 0 to 2303
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   no          2304 non-null   float64
 1   model       2304 non-null   object
 2   ID pallete  2304 non-null   object
 3   ID box      2304 non-null   object
 4   Invoice     2304 non-null   float64
 5   Date        2304 non-null   object
 6   Time        2304 non-null   object
 7   Status      2304 non-null   object
 8   Sheet       2304 non-null   object
dtypes: float64(2), object(7)
memory usage: 162.1+ KB

In [15]:
import pandas as pd

# Function to correct invalid date formats
def correct_invalid_date(date_str):
    try:
        # Try parsing the date
        date = pd.to_datetime(date_str, format='%d/%m/%y', errors='raise')
        return date
    except ValueError:
        # If invalid date, try to fix it
        parts = date_str.split('/')
        if len(parts) == 3:
            day, month, year = parts
            # Convert 2-digit year to 4-digit year (e.g., '24' becomes '2024')
            if len(year) == 2:
                year = '20' + year
            # Adjust invalid months (greater than 12) to 12
            if int(month) > 12:
                month = '12'
            # Return a corrected date in the desired format
            return f"{year}-{month}-{day} 00:00:00"
        else:
            return 'Invalid Date'

final_df['Date'] = final_df['Date'].apply(correct_invalid_date)

final_df['Date'] = pd.to_datetime(final_df['Date'], errors='coerce').dt.strftime('%Y-%m-%d 00:00:00')

In [16]:
final_df.head()

,no,model,ID pallete,ID box,Invoice,Date,Time,Status,Sheet
0,1.0,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
1,1.0,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371.0,2024-12-13 00:00:00,08:10:00,OUT,baking_12_december
2,2.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
3,2.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371.0,2024-12-13 00:00:00,08:10:00,OUT,baking_12_december
4,3.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3048,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december

In [17]:
final_df['Date'].unique()

array(['2024-12-12 00:00:00', '2024-12-13 00:00:00',
       '2024-12-14 00:00:00', '2024-12-16 00:00:00',
       '2024-12-17 00:00:00', '2024-12-18 00:00:00',
       '2024-12-19 00:00:00', '2024-12-20 00:00:00',
       '2024-12-21 00:00:00', '2024-12-23 00:00:00',
       '2024-12-24 00:00:00', '2024-12-26 00:00:00',
       '2024-12-27 00:00:00', '2024-12-28 00:00:00',
       '2024-12-30 00:00:00', '2024-12-31 00:00:00',
       '2025-01-02 00:00:00', nan], dtype=object)

In [18]:
final_df['Time'].unique()

array([datetime.time(14, 15), datetime.time(8, 10), datetime.time(8, 45),
       datetime.time(15, 45), datetime.time(16, 30), datetime.time(9, 30),
       datetime.time(8, 0), datetime.time(16, 10), datetime.time(16, 35),
       datetime.time(9, 20), datetime.time(7, 45), datetime.time(8, 20),
       datetime.time(8, 25), datetime.time(7, 50), datetime.time(8, 30),
       datetime.time(10, 0), datetime.time(11, 15), 'Not Yet'],
      dtype=object)

In [19]:
final_df['Invoice'] = final_df['Invoice'].astype(int)

In [20]:
final_df['no'] = final_df['no'].astype(int)

In [21]:
final_df.head()

,no,model,ID pallete,ID box,Invoice,Date,Time,Status,Sheet
0,1,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
1,1,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371,2024-12-13 00:00:00,08:10:00,OUT,baking_12_december
2,2,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
3,2,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371,2024-12-13 00:00:00,08:10:00,OUT,baking_12_december
4,3,V320BJ8-Q01,MF49C0126,0HC1F5849C3048,801983371,2024-12-12 00:00:00,14:15:00,IN,baking_12_december

In [22]:
final_df['ID box'].nunique()

1152

In [23]:
final_df['Date'] = pd.to_datetime(final_df['Date'], errors='coerce')  # Invalid dates will become NaT
final_df['Date'] = final_df['Date'].dt.strftime('%d %B %Y')

In [24]:
final_df['Time'] = pd.to_datetime(final_df['Time'], format='%H:%M:%S', errors='coerce').dt.strftime('%H:%M')

In [25]:
final_df.head()

,no,model,ID pallete,ID box,Invoice,Date,Time,Status,Sheet
0,1,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371,12 December 2024,14:15,IN,baking_12_december
1,1,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371,13 December 2024,08:10,OUT,baking_12_december
2,2,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371,12 December 2024,14:15,IN,baking_12_december
3,2,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371,13 December 2024,08:10,OUT,baking_12_december
4,3,V320BJ8-Q01,MF49C0126,0HC1F5849C3048,801983371,12 December 2024,14:15,IN,baking_12_december

In [26]:
final_df['Date'].unique()

array(['12 December 2024', '13 December 2024', '14 December 2024',
       '16 December 2024', '17 December 2024', '18 December 2024',
       '19 December 2024', '20 December 2024', '21 December 2024',
       '23 December 2024', '24 December 2024', '26 December 2024',
       '27 December 2024', '28 December 2024', '30 December 2024',
       '31 December 2024', '02 January 2025', nan], dtype=object)

In [27]:
final_df.isnull().sum()

no             0
model          0
ID pallete     0
ID box         0
Invoice        0
Date          72
Time          72
Status         0
Sheet          0
dtype: int64

In [28]:
final_df.dropna(inplace=True)

In [29]:
final_df['Date'].unique()

array(['12 December 2024', '13 December 2024', '14 December 2024',
       '16 December 2024', '17 December 2024', '18 December 2024',
       '19 December 2024', '20 December 2024', '21 December 2024',
       '23 December 2024', '24 December 2024', '26 December 2024',
       '27 December 2024', '28 December 2024', '30 December 2024',
       '31 December 2024', '02 January 2025'], dtype=object)

In [30]:
final_df.isnull().sum()

no            0
model         0
ID pallete    0
ID box        0
Invoice       0
Date          0
Time          0
Status        0
Sheet         0
dtype: int64

In [31]:
final_df.to_excel('Dataset/cleaned/final_data.xlsx', index=False)