In [1]:
import pandas as pd

In [2]:
file = 'Dataset/raw/12 Desember 2024.xlsx'

In [ ]:
final = 'Dataset/cleaned/final_data.xlsx'

In [3]:
import pandas as pd

# Membaca file Excel dengan semua sheet
df1 = pd.read_excel(file, sheet_name=None)

# List untuk menyimpan semua hasil dari sheet
all_data = []

# Looping untuk setiap sheet
for sheet_name, df in df1.items():
    print(f"Memproses sheet: {sheet_name}")

    # Pastikan df dalam bentuk DataFrame
    if isinstance(df, pd.Series):
        df = pd.DataFrame(df)

    rows = []
    for index, row in df.iterrows():
        # Baris IN
        rows.append({
            'no': row['No'],
            'model': row['Model'],
            'ID pallete': row['ID Pallete'],
            'ID box': row['ID Box'],
            'Invoice': row['Invoice'],
            'Date': row['IN'],
            'Time': row['Unnamed: 6'],  # Jam IN
            'Status': 'IN',
            'Sheet': sheet_name  # Tambahkan kolom sheet_name
        })
        # Baris OUT
        rows.append({
            'no': row['No'],
            'model': row['Model'],
            'ID pallete': row['ID Pallete'],
            'ID box': row['ID Box'],
            'Invoice': row['Invoice'],
            'Date': row['OUT'],
            'Time': row['Unnamed: 8'],  # Jam OUT
            'Status': 'OUT',
            'Sheet': sheet_name  # Tambahkan kolom sheet_name
        })

    # Menyimpan hasil dari sheet ke list
    all_data.extend(rows)

# Menggabungkan semua hasil menjadi DataFrame
final_df = pd.DataFrame(all_data)
final_df = final_df.dropna()
final_df = final_df.reset_index(drop=True)

Memproses sheet: baking_12_december
Memproses sheet: baking_13
Memproses sheet: baking_16
Memproses sheet: baking_17
Memproses sheet: baking_18
Memproses sheet: baking_19
Memproses sheet: baking_20
Memproses sheet: baking_23
Memproses sheet: baking_24
Memproses sheet: baking_26
Memproses sheet: baking_27

In [4]:
final_df.head()

,no,model,ID pallete,ID box,Invoice,Date,Time,Status,Sheet
0,1.0,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
1,1.0,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371.0,13/13/24,08:10:00,OUT,baking_12_december
2,2.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
3,2.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371.0,13/13/24,08:10:00,OUT,baking_12_december
4,3.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3048,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december

In [5]:
final_df.shape

(1872, 9)

In [6]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   no          1872 non-null   float64
 1   model       1872 non-null   object
 2   ID pallete  1872 non-null   object
 3   ID box      1872 non-null   object
 4   Invoice     1872 non-null   float64
 5   Date        1872 non-null   object
 6   Time        1872 non-null   object
 7   Status      1872 non-null   object
 8   Sheet       1872 non-null   object
dtypes: float64(2), object(7)
memory usage: 131.8+ KB

In [7]:
import pandas as pd

# Function to correct invalid date formats
def correct_invalid_date(date_str):
    try:
        # Try parsing the date
        date = pd.to_datetime(date_str, format='%d/%m/%y', errors='raise')
        return date
    except ValueError:
        # If invalid date, try to fix it
        parts = date_str.split('/')
        if len(parts) == 3:
            day, month, year = parts
            # Convert 2-digit year to 4-digit year (e.g., '24' becomes '2024')
            if len(year) == 2:
                year = '20' + year
            # Adjust invalid months (greater than 12) to 12
            if int(month) > 12:
                month = '12'
            # Return a corrected date in the desired format
            return f"{year}-{month}-{day} 00:00:00"
        else:
            return 'Invalid Date'

final_df['Date'] = final_df['Date'].apply(correct_invalid_date)

final_df['Date'] = pd.to_datetime(final_df['Date'], errors='coerce').dt.strftime('%Y-%m-%d 00:00:00')

In [8]:
final_df.head()

,no,model,ID pallete,ID box,Invoice,Date,Time,Status,Sheet
0,1.0,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
1,1.0,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371.0,2024-12-13 00:00:00,08:10:00,OUT,baking_12_december
2,2.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
3,2.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371.0,2024-12-13 00:00:00,08:10:00,OUT,baking_12_december
4,3.0,V320BJ8-Q01,MF49C0126,0HC1F5849C3048,801983371.0,2024-12-12 00:00:00,14:15:00,IN,baking_12_december

In [9]:
final_df['Date'].unique()

array(['2024-12-12 00:00:00', '2024-12-13 00:00:00',
       '2024-12-14 00:00:00', '2024-12-16 00:00:00',
       '2024-12-17 00:00:00', '2024-12-18 00:00:00',
       '2024-12-19 00:00:00', '2024-12-20 00:00:00',
       '2024-12-21 00:00:00', '2024-12-23 00:00:00',
       '2024-12-24 00:00:00', '2024-12-26 00:00:00',
       '2024-12-27 00:00:00', '2024-12-28 00:00:00'], dtype=object)

In [10]:
final_df['Time'].unique()

array([datetime.time(14, 15), datetime.time(8, 10), datetime.time(8, 45),
       datetime.time(15, 45), datetime.time(16, 30), datetime.time(9, 30),
       datetime.time(8, 0), datetime.time(16, 10), datetime.time(16, 35),
       datetime.time(9, 20), datetime.time(7, 45), datetime.time(8, 20),
       datetime.time(8, 25), datetime.time(7, 50), datetime.time(8, 30)],
      dtype=object)

In [11]:
final_df['Invoice'] = final_df['Invoice'].astype(int)

In [12]:
final_df['no'] = final_df['no'].astype(int)

In [13]:
final_df.head()

,no,model,ID pallete,ID box,Invoice,Date,Time,Status,Sheet
0,1,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
1,1,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371,2024-12-13 00:00:00,08:10:00,OUT,baking_12_december
2,2,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371,2024-12-12 00:00:00,14:15:00,IN,baking_12_december
3,2,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371,2024-12-13 00:00:00,08:10:00,OUT,baking_12_december
4,3,V320BJ8-Q01,MF49C0126,0HC1F5849C3048,801983371,2024-12-12 00:00:00,14:15:00,IN,baking_12_december

In [14]:
final_df['ID box'].nunique()

936

In [15]:
final_df['Date'] = pd.to_datetime(final_df['Date'], errors='coerce')  # Invalid dates will become NaT
final_df['Date'] = final_df['Date'].dt.strftime('%d %B %Y')

In [16]:
final_df['Time'] = pd.to_datetime(final_df['Time'], format='%H:%M:%S', errors='coerce').dt.strftime('%H:%M')

In [17]:
final_df.head()

,no,model,ID pallete,ID box,Invoice,Date,Time,Status,Sheet
0,1,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371,12 December 2024,14:15,IN,baking_12_december
1,1,V320BJ8-Q01,MF49C0126,0HC1F5849C304E,801983371,13 December 2024,08:10,OUT,baking_12_december
2,2,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371,12 December 2024,14:15,IN,baking_12_december
3,2,V320BJ8-Q01,MF49C0126,0HC1F5849C3046,801983371,13 December 2024,08:10,OUT,baking_12_december
4,3,V320BJ8-Q01,MF49C0126,0HC1F5849C3048,801983371,12 December 2024,14:15,IN,baking_12_december

In [18]:
final_df['Date'].unique()

array(['12 December 2024', '13 December 2024', '14 December 2024',
       '16 December 2024', '17 December 2024', '18 December 2024',
       '19 December 2024', '20 December 2024', '21 December 2024',
       '23 December 2024', '24 December 2024', '26 December 2024',
       '27 December 2024', '28 December 2024'], dtype=object)

In [19]:
final_df.isnull().sum()

no            0
model         0
ID pallete    0
ID box        0
Invoice       0
Date          0
Time          0
Status        0
Sheet         0
dtype: int64

In [20]:
final_df.dropna(inplace=True)

In [21]:
final_df['Date'].unique()

array(['12 December 2024', '13 December 2024', '14 December 2024',
       '16 December 2024', '17 December 2024', '18 December 2024',
       '19 December 2024', '20 December 2024', '21 December 2024',
       '23 December 2024', '24 December 2024', '26 December 2024',
       '27 December 2024', '28 December 2024'], dtype=object)

In [22]:
final_df.isnull().sum()

no            0
model         0
ID pallete    0
ID box        0
Invoice       0
Date          0
Time          0
Status        0
Sheet         0
dtype: int64

In [23]:
final_df.to_excel('Dataset/cleaned/final_data.xlsx', index=False)